:root {
    --grid-columns: 16;
    --grid-rows: 16;
}

.colorLabel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fill;
    width: fill;
    border-radius: 50%;
}
.colorLabel:hover  input ~ .radio {
    border: thin solid rgb(105,105,105);
    filter: grayscale(50%);
    box-shadow: 0px 0px 5px black;
    transform: scale(1.2);
}
.colorLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.colorLabel input:checked ~ .radio {
    border: 2px solid black;
}
.radio {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid gray;
}
ul {
    margin: 0;
    width: 100%;
    padding: 5px;
    height: 100%;
    text-align: left;
    list-style: inside;
    font-style: italic;
    font-family: Sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr)

}
button {
    width: 5rem;
    height: 2rem;
    background-color:#0077be;
    border-radius: 10px;
    color: white;
}
.header {
    background-color: #12345b;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#backgroundColor {
    width: 5rem;
    height: 2rem;
    background-color:#0077be;
    border-radius: 10px;
    font-size: 7px;
    color: white;
}
.midPageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}
.leftMiddleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: auto;
}
.rightMiddleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    width: auto;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 30rem;
    height: 30rem;
    border: thin solid black;

}
.box {
    width: auto;
    height: auto;
    background-color: rgb(255,255,255);
}
.colorChooser {
    height: 20rem;
    width: 8rem;
    border: thick solid #0077be;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.sizePicker {
    border: thick solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 15rem;
    width: 10rem;
    border: thick solid #0077be;
    border-radius: 15px;

}
.sizeChangeText {
    font-family: sans-serif;
    font-size: 15px;
}

.eraser {
    border: thick solid #0077be;
    border-radius: 15px;
    width: 10rem;
    height: 3rem;
}
#sizer {
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes rainbow {
    0% {background-color: red;}
    20% {background-color: blue;}
    40% {background-color: green}
    60% {background-color: orange}
    80% {background-color: purple}
    100% {background-color: red}
}
#randomspan {
    animation: rainbow 2s infinite;
}

#sizeChangeButton {
    margin: 10px;
    height: 40px;
}